{% extends 'kaizen_web/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="/static/css/about.css">
    </head>
    <body>
        <div class="container">
            <h1>About Us</h1>
            <h2>Welcome to our website</h2>
            <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dui enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla tincidunt, elit eu consectetuer ultricies, nisi metus accumsan lorem, quis varius nunc ligula non pede.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dui enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla tincidunt, elit eu consectetuer ultricies, nisi metus accumsan lorem, quis varius nunc ligula non pede.</p>
        </div>
    </body>
</html>

{% endblock %}