{% extends 'kaizen_web/base.html' %}

{% block content %}

<div class="container mx-auto mt-4">
    <div class="row">
        {% for profile in all_profiles %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%; max-width: 350px;"> <!-- Adjusted width for better scaling -->
                <img src="{{ profile.thumbnail }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ profile.interests.0.title }}</h6>
                    <p class="card-subtitle mb-2 text-muted">{{ profile.interests.affiliation }}</p> <!-- Changed to <p> for semantic correctness -->
                    <a href="{{profile.link}}" class="btn btn-primary" target="_blank">Google Scholar Link</a>
                    <a href="{% url 'profile_detail' author_id=profile.author_id %}" class="btn btn-primary" target="_blank">Profile Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}