class  author_profile(request):
    def get(self, request, author_id):
params = {
            "api_key": "425d6fb5ad378e6887055b328dad42d7ff166d2476aaefd7b2c6a814312ed22f",
            "author_id": author_id,
            "engine": "google_scholar_author",
            "hl": "en",
        }

        search = GoogleSearch(params) # Assuming GoogleSearch is your model to interact with the API
        results = search.get_dict()
        author = results.get("author", {})
        articles = results.get("articles", [{}])

    context = {
    'author': author, 
    'articles': articles,
    }
        return render(request, 'users/profile.html', context)